<h3><%= title %></h3>

  <form class="add-dog-form" method="POST" action="/adddog">
    <spanc class="dog-name-input">Dog Name: </span>
    <input type="text" placeholder="Dog Name" name="name" />
      </br>
      </br>

    <span class="dog-breed-input">Dog Breed: </span>
    <input type="text" placeholder="Dog Breed" name="breed" />
      </br>
      </br>

    <span class="dog-description-input">Dog Descrption: </span>
    <textarea name="dogbreed" rows="8" cols="80" placeholder="Dog description" name="description" ></textarea>
      </br>
      </br>

    <input type="submit" value="submit" name="dog" />

  </form>
